html, body, div, ul, ol, li, p, a, h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
}
html, body, .wrap {
	height: 100%;
}
body {
    background: url(../img/background.jpg) #fff;
	color: #1A1A1A;
	text-decoration: none;
	line-height: 25px;
	font-size: 15px;
	font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans', Verdana, sans-serif;
}
p {
	color: #1A1A1A;
	margin: 0px 0px 25px;
}
a {
	color: #52ac9a;
	font-style: italic;
}
a:hover {
	color: #52ac9a !important;
}
ul, ol {
	color: #1A1A1A;
	margin: 0px 0px 25px 25px;
}
ul li, ol li {
	margin: 0px 0px 5px 0px;
}
h2 {
	color: #1A1A1A;
	font-weight: normal;
	font-style: normal;
	font-size: 40px;
	line-height: 50px;
	text-align: left;
}
h3 {
    font-size: 25px;
}
pre {
    background-color: #F8F8FF !important;
    border: 1px solid #DEDEDE !important;
    color: #444 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    margin: 1em 0px !important;
    overflow: auto !important;
    padding: 0.5em !important;
}
#header {
    margin: 0 auto 15px auto;
    padding: 20px;
    text-shadow: 0px 2px 3px #fff;
    width: 625px;
}
#header a{
    text-decoration: none;
}
#header span {
    color: #52ac9a;
}
#post-header p {
    font-size: 14px;
    font-style: italic;
    color: #404040;
}
#container {    
    padding-top: 25px;
    width: 625px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}

#content {
    width: 475px;
    float: left;
}

#info {
    float: left;
    width: 110px;
    height: 50px;
    position: relative;
    display: block;
    margin-right: 40px;
    color: #52ac9a;
    text-shadow: 0px 2px 3px #fff;
}
#info .day {
    position: absolute;
    font-size: 70px;
    line-height: 60px;
    top: 0px;
    left: 0px;
}
#info .month {
    position: absolute;
    font-size: 37px;
     line-height: 37px;
    top: 0px;
    right: 0px;
}
#info .year {
    position: absolute;
    font-size: 17px;
     line-height: 17px;
    bottom: 0px;
    right: 0px;
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    color: #404040;
    padding: 20px;
    border-top: #404040 solid 1px;
    border-bottom: #404040 solid 1px;
}
blockquote p {
    margin: 0;
}